.my_button {
    color: black;
    background: #eaecf1;
    border-radius: 5px;
    padding: 0.3rem;
    width: 5rem;
}

.my_button_small {
    color: black;
    background: white;
    border-radius: 5px;
    padding: 0.3rem;
    width: 4.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_input {
    border-radius: 5px;
    padding: 0.3rem;
    width: 7rem;
    height: 1.5rem;
    text-align: center;
}

.center {
    text-align: center;
}

:root {
    --background-color: white;
    --message-color: green;
    --input-message-backgorund: #105010;
}
